html {
  min-height: 100%;
}

body {
  background: url(../images/burger.png) fixed;
  background-color: rgba(255, 166, 0, 0.603);
  background-position: center;
  background-size: contain;
}

#ordered, #devoured {
  margin: 0 auto;
}

#devoured td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

#addBurger {
  margin: 10px;
}

.item {
  font-weight:bold;
}

.jumbo {
  text-align: center;
  background-color: rgba(211, 211, 211, 0.90);
  border: rgb(255, 166, 0) 5px solid;
  border-radius: 20px;
  margin: 10px;
}

.list {
  background-color: rgba(211, 211, 211, 0.90);
  border: rgb(255, 166, 0) 5px solid;
  margin: 5px;
  border-radius: 20px;
  /* width: 100%; */
}

h2, h3 {
  margin: 10px auto;
}

.devourBTN {
  /* padding-bottom: 5px; */
  vertical-align: middle;
  padding: 10px;
}

#ordered td {
  text-align: left;
  vertical-align: middle;
  padding: 10px;
}
