#ordered, #devoured {
  margin: 0 auto;
}

/* .item {
  text-align: left;
  vertical-align: middle;
}
*/
.devourBTN {
  /* padding-bottom: 5px; */
  vertical-align: middle;
  padding: 10px;
}

td {
  text-align: left;
  vertical-align: middle;
  padding: 10px;
}
